<!DOCTYPE html>
#@layout_wechat()

#define page_top_url()
/wechat/front/index
#end

#define page_title()
理论前沿
#end

#define main()
<body>
    #@page_top2()
    <input type="hidden" value="#(categoryId??)" id="categoryId">
    <input type="hidden" value="0" id="pageNum"/>
    <div class="tabs_box">
        <div class="flex-box">
            #if(categoryId == 1)
            <a class="flex-item active" href="/wechat/front/category?categoryId=1">前沿进展</a>
            #else
            <a class="flex-item" href="/wechat/front/category?categoryId=1">前沿进展</a>
            #end

            #if(categoryId == 4)
            <a class="flex-item active" href="/wechat/front/listArticleTopic">文章专题</a>
            #else
            <a class="flex-item" href="/wechat/front/listArticleTopic">文章专题</a>
            #end
        </div>
    </div>

    #if(categoryId == 1)
        <div class="list_box latest_box">
            <div class="list_cont" id="fronts">
            </div>
        </div>
    #end

    #if(categoryId == 4)
        <div class="list_box article_box">
            <div class="list_cont">
                #if(categoryList != null && categoryList.size()>0)
                    #for(category:categoryList??)
                    <a href="/wechat/front/listNewsByCategory?categoryId=#(category.ncId??)" class="list_block" id="#(category.ncId??)">
                        <div class="flex-box">
                            <div class="pic">
                                <img src="#(category.ncPicPath??)" />
                            </div>
                            <div class="flex-item">
                                <div class="overflow-two tit">
                                    #(category.ncName??)
                                </div>
                                <div class="article_num">
                                    文章数：#(category.newsCount??)
                                </div>
                                <div class="article_time">
                                    最近更新：#(category.newsUpdateTimeStr??)
                                </div>
                            </div>
                        </div>
                    </a>
                    #end
                #else
                    暂无数据
                #end
            </div>
        </div>
    #end
</body>
#end

<script type="text/javascript">
    $(document).ready(function () {
        if($("#categoryId").val() == 1)
            listData(1);
    });

    /**
     * 前沿进展资讯列表——滚动加载数据
     * @param page
     */
    function listData(page) {
        $.ajax({
            type: "GET",
            cache: false,
            async: false,
            dataType: "json",
            url: '/wechat/front/listNewsAjax',
            data: {
                rowsPerPage: 10,
                page: page,
                categoryId:$("#categoryId").val(),
            },
            success: function (json) {
                if(page == 1){
                    $("#fronts").empty();
                }
                if (json.data != null && json.data.records && json.data.records.length > 0) {
                    $("#fronts").append(createHtml(json.data));
                }else{
                    $("#loadMore").hide();
                    if(page == 1){
                        $("#fronts").empty();
                        $("#fronts").append("<div style=\"margin-top: 22px; font-size: 16px; text-align: center\">暂无数据~</div>");
                    }
                }
            }
        });
    }

    function createHtml(data) {
        $("#pageNum").val(data.current);
        var html = "";
        for (var i = 0; i < data.records.length; i++) {
            var item = data.records[i];
            html = html + '<a href="/wechat/news/getNewsById?newsId='+item.neId+'" class="list_block">';
                html = html + '<div class="flex-box">';
                   html = html + '<div class="pic">';
                    if (item.neThumbnailPath != null) {
                        html = html + '<img src="'+item.neThumbnailPath+'"/>';
                    }else{
                        html = html + '<img src="res/images/pic02.png" />';
                    }
                    html = html + '</div>';
                    html = html + '<div class="flex-item">';
                        html = html + '<div class="overflow-two tit">'+item.neTitle+'</div>';
                        html = html + '<div class="read_infor">';
                            html = html + '<div class="flex-box">';
                                html = html + '<div class="flex-item">';
                                    html = html + '<span class="time">'+item.nePublishDateStr+'</span>';
                                html = html + '</div>';
                                html = html + '<div class="flex-item">';
                                    html = html + '<span class="read">'+item.neHits+'</span>';
                                html = html + '</div>';
                            html = html + '</div>';
                        html = html + '</div>';
                    html = html + '</div>';
                html = html + '</div>';
            html = html + '</a>';
        }
        return html;
    }

    var timer = null;
    $(window).scroll(function () {
        $windHeight = (window.outerHeight > $(window).height()) ? window.outerHeight : $(window).height();
        if ($(this).scrollTop() + $windHeight +30 >= $(document).height()) {
            //防止滚动过快，服务端没来得及响应造成多次请求标记 debounce/
            if (typeof timer === 'number') {
                clearTimeout(timer);
            }
            timer = setTimeout(function () {
                var page = parseInt($('#pageNum').val()) + 1;
                listData(page);
            }, 400);
        }
    });
</script>