<!DOCTYPE html>
#@layout_wechat()

#define page_top_url()
/wechat/front/listArticleTopic
#end

#define page_title()
#(title)
#end

#define main()
<body>
    #@page_top2()
    <input type="hidden" value="#(categoryId)" id="categoryId"/>
    <input type="hidden" value="0" id="pageNum"/>
    <div class="list_box latest_box">
        <div class="list_cont" id="newsList">
        </div>
    </div>
</body>
#end


#define js()
<script type="text/javascript">
    $(document).ready(function () {
        if(!$("#categoryId").val()){
            $("#newsList").append("<div style=\"margin-top: 22px; font-size: 16px; text-align: center\">查询失败，专题ID为空~</div>");
        }else{
            listData(1);
        }
    });

    /**
     * 滚动加载数据
     * @param page
     */
    function listData(page) {
        $.ajax({
            type: "GET",
            cache: false,
            async: false,
            dataType: "json",
            url: '/wechat/front/listNewsAjax',
            data: {
                rowsPerPage: 10,
                page: page,
                categoryId:$("#categoryId").val(),
            },
            success: function (json) {
                if(page == 1){
                    $("#newsList").empty();
                }
                if (json.data != null && json.data.records != null && json.data.records.length > 0) {
                    $("#newsList").append(createHtml(json.data));
                }else{
                    $("#loadMore").hide();
                    if(page == 1){
                        $("#newsList").empty();
                        $("#newsList").append("<div style=\"margin-top: 22px; font-size: 16px; text-align: center\">暂无数据~</div>");
                    }
                }
            }
        });
    }

    function createHtml(data) {
        $("#pageNum").val(data.current);
        var html = "";
        for (var i = 0; i < data.records.length; i++) {
            var item = data.records[i];
            html = html + '<a href="/wechat/news/getNewsById?newsId='+item.neId+'" class="list_block">';
            html = html + '<div class="flex-box">';
            html = html + '<div class="pic">';
            if (item.neThumbnailPath != null) {
                html = html + '<img src="'+item.neThumbnailPath+'"/>';
            }else{
                html = html + '<img src="res/images/pic02.png" />';
            }
            html = html + '</div>';
            html = html + '<div class="flex-item">';
            html = html + '<div class="overflow-two tit">'+item.neTitle+'</div>';
            html = html + '<div class="read_infor">';
            html = html + '<div class="flex-box">';
            html = html + '<div class="flex-item">';
            html = html + '<span class="time">'+item.nePublishDateStr+'</span>';
            html = html + '</div>';
            html = html + '<div class="flex-item">';
            html = html + '<span class="read">'+item.neHits+'</span>';
            html = html + '</div>';
            html = html + '</div>';
            html = html + '</div>';
            html = html + '</div>';
            html = html + '</div>';
            html = html + '</a>';
        }
        return html;
    }

    var timer = null;
    $(window).scroll(function () {
        $windHeight = (window.outerHeight > $(window).height()) ? window.outerHeight : $(window).height();
        if ($(this).scrollTop() + $windHeight +30 >= $(document).height()) {
            //防止滚动过快，服务端没来得及响应造成多次请求标记 debounce/
            if (typeof timer === 'number') {
                clearTimeout(timer);
            }
            timer = setTimeout(function () {
                var page = parseInt($('#pageNum').val()) + 1;
                listData(page);
            }, 400);
        }
    });
</script>
#end