<!DOCTYPE html>
#@layout_wechat()
#define page_title()
文章详情
#end

#define main()
<body>
    <div class="pbtm_box">
        #@page_top()
        <div class="details_box">
            <div class="details_top">
                <div class="tit">
                    <!--加分项-->
                    #@scoreRule()
                    #(news.neTitle??)
                </div>
                <div class="infor">
                    <div class="flex-box">
                        <div class="flex-item">
                            #if(categoryList != null && categoryList.size()>0)
                                #for(category:categoryList)
                                    <span class="sign" onclick="javascript:window.location.href='/wechat/front/category?categoryId=#(category.ncId??)'">
                                       #(category.ncName??)
                                    </span>
                                #end
                            #end
                        </div>
                        <div class="flex-item">
                            #(news.neFrom??) #(news.nePublishDateStr??)
                        </div>
                        <div class="read_block">
                            <span class="read">#(news.neHits??)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="details_cont">
                <p class="indent_two">
                    #(news.neContent??)
                </p>
            </div>
        </div>
        #if(expert != null)
        <div class="expert_box" onclick="window.location.href='/wechat/expert/getNewsListByExpert?expertId=#(expert.peId??)'">
            <div class="flex-center">
                <div class="pic">
                    <img src="#(expert.peHeadPath??)" />
                </div>
                <div class="flex-item">
                    <div class="name">
                        #(expert.peName??)
                    </div>
                    <div class="hos">
                        #(expert.peHospital??)
                    </div>
                    <div class="office">
                        #(expert.peDept??) #(expert.peProfessional??)
                    </div>
                </div>
            </div>
        </div>
        #end
        <div class="collect_box">
            #if(bookRecord != null)
                <div class="collect_block active">
                    <div class="icon"></div>
                    <div class="txt">收藏</div>
                </div>
            #else
                <div class="collect_block">
                    <div class="icon"></div>
                    <div class="txt">收藏</div>
                </div>
            #end

            #if(likeRecord != null)
                <div class="like_block active">
                    <div class="icon"></div>
                    <div class="txt">
                        （<span class="num">#(news.neLikeNum??)</span>）
                    </div>
                </div>
            #else
                <div class="like_block">
                    <div class="icon"></div>
                    <div class="txt">
                        （<span class="num">#(news.neLikeNum??)</span>）
                    </div>
                </div>
            #end
        </div>
        <div class="comment_box">
            <div class="comment_tit">
                全部评论(<span class="num">#(commentList.size())</span>)
            </div>
            <div class="comment_cont">
                #if(commentList != null && commentList.size() >0)
                    #for(comment:commentList??)
                    <div class="comment_line">
                        <div class="flex-box">
                            <div class="flex-item">
                                <span class="name">#(comment.userName??)</span>
                                <span class="time">#(comment.commentTimeStr??)</span>
                            </div>
                            <div class="like_block">
                                #if(comment.myUserId != null)
                                    <span class="like active" id="#(comment.commentId??)">#(comment.likeNum??)</span>
                                #else
                                    <span class="like" id="#(comment.commentId??)">#(comment.likeNum??)</span>
                                #end
                            </div>
                        </div>
                        <div class="txt">
                            #(comment.content??)
                        </div>
                    </div>
                    #end
                #else
                    暂无评论
                #end
            </div>
        </div>
    </div>
    <input type="hidden" value="#(news.neId??)" id="newsId" name="pcNewsId"/>
    <div class="send_box">
        <div class="flex-box">
            <div class="flex-item">
                <input class="send_txt" type="text" value="" name="pcContent" id="pcContent" placeholder="发表评论......" />
            </div>
            <div class="send_btn_block">
                <button class="send_btn" type="button" id="sendCommentBtn">发表</button>
            </div>
        </div>
    </div>
</body>
#end

<script src="js/wechat/newsDetail.js?v=20200402"></script>