<!DOCTYPE html>
#@layout_admin()

#define title()
<title>安斯泰来智能平台</title>
#end
#define main()
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    #include("../include/head.html",navId="nav_news", subNavId="nav_news_expert")
    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>专家编辑</legend>
        </fieldset>
        <form class="layui-form" action="/admin/expert/save" method="post">
            <input name="peId" type="hidden" value="#(expert.peId??)"/>
            <br/>
            <div class="layui-form-item">
                <label class="layui-form-label">专家姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="peName" lay-verify="required" lay-reqtext="专家姓名" autocomplete="off"
                           class="layui-input" value="#(expert.peName??)">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">专家头像</label>
                <div style="width: unset;">
                    <input hidden name="type" id="imgType" value="#(com.kingyee.prad.common.Const::PIC_TYPE_EXPERT)">
                    <button type="button" id="uploadBtn" class="layui-btn layui-btn-primary">上传</button>
                    <img class="layui-upload-img" style="max-width: 200px;" src="#(expert.peHeadPath??)" id="imgShow"/>
                    <input type="hidden" name="peHeadPath" value="#(expert.peHeadPath??)" id="peHeadPath">
                    <p class="msgText"></p>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所在医院</label>
                <div class="layui-input-block">
                    <input type="text" name="peHospital" lay-verify="required" lay-reqtext="所在医院" autocomplete="off"
                           class="layui-input" value="#(expert.peHospital??)">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">科室</label>
                <div class="layui-input-block">
                    <input type="text" name="peDept" lay-verify="required" lay-reqtext="科室" autocomplete="off"
                           class="layui-input" value="#(expert.peDept??)">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">职称</label>
                <div class="layui-input-block">
                    <input type="text" name="peProfessional" lay-verify="required" lay-reqtext="职称" autocomplete="off"
                           class="layui-input" value="#(expert.peProfessional??)">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-checked" lay-submit="" lay-filter="layuiForm">保存</button>
                </div>
            </div>
        </form>
        <div class="layui-form-item" style="position: absolute;margin-left: 600px;margin-top: -40px">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal"
                        onclick="javascript:window.location.href='/admin/expert/list'">取消
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    layui.use(['form', 'laydate', 'upload'], function () {
        var $ = layui.jquery,
            form = layui.form
            , layer = layui.layer
            , upload = layui.upload;
        //监听来源选择按钮
        form.on('select(college)', function (data) {
            var value = data.value;
            var selectId = data.elem.id;
            var type;
            if(selectId == "peProvince"){
                type = 1;
            }else if(selectId == "peCity"){
                type = 2;
            }else if(selectId == "peRegion"){
                type = 3;
            }else{
                return false;
            }
            $.ajax({
                type: "GET",
                cache: false,
                async: false,
                dataType: "json",
                url: '/admin/expert/getCityOrRegionAjax',
                data: {id: value,type:type},
                success: function (res) {
                    if (res.success) {
                        if(selectId == "peProvince"){
                            $("#peCity").empty();
                            for (var i = 0; i < res.data.cityList.length; i++) {
                                $("#peCity").append("<option value=\"" + res.data.cityList[i].id + "\">" + res.data.cityList[i].name + "</option>");
                            }
                            $("#peRegion").empty();
                            for (var i = 0; i < res.data.regionList.length; i++) {
                                $("#peRegion").append("<option value=\"" + res.data.regionList[i].id + "\">" + res.data.regionList[i].name + "</option>");
                            }
                        }else if(selectId == "peCity"){
                            $("#peRegion").empty();
                            for (var i = 0; i < res.data.regionList.length; i++) {
                                $("#peRegion").append("<option value=\"" + res.data.regionList[i].id + "\">" + res.data.regionList[i].name + "</option>");
                            }
                        }

                        $("#peHospital").empty();
                        for (var i = 0; i < res.data.hospitalList.length; i++) {
                            $("#peHospital").append("<option value=\"" + res.data.hospitalList[i].id + "\">" + res.data.hospitalList[i].name + "</option>");
                        }

                        //重新渲染
                        layui.form.render("select");
                    } else {
                        alert(res.msg);
                    }
                }
            });
        });

        //缩略图图片上传
        var uploadInst = upload.render({
            elem: '#uploadBtn'
            ,url: '/admin/upload/uploadPic'
            , data: {
                type: $("#imgType").val()
            }
            , accept: 'images'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#imgShow').attr('src', result); //图片链接（base64）

                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var msg = res.msg;
                if (res.success == true) {
                    msg = "上传成功";
                    $("#peHeadPath").val(res.data);
                    $("#imgShow").attr("src", res.data);
                }
                layer.alert(msg);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>
</body>
#end