#@layout_wechat()
#define main()
<body>
    <div class="page_top">
        <div>个人中心</div>
    </div>
    <div class="user_box">
        <div class="flex-center" style="border:0px solid red;align:center;">
            <div class="flex-item" style="text-align: center;">
                <span class="user_name_">您尚未登录</span>
                <br/><br/>
<!--                <span class="user_name_" style="text-align: center;">登录后，您可以查看您的课程学习进度。</span>-->
                <span class="user_name_" style="text-align: center;">登录后，您可以查看您的成长值与课程学习进度。</span>
            </div>
        </div>
    </div>
    <div class="btn_box">
        <button class="btn" type="button" onclick="javascript:location.href='wechat/userLogin/doLogin'">去登录>></button>
    </div>
</body>
#end