<!DOCTYPE html>
#@layout_wechat()

#@reg_login_top_css()
#@medlive_login_css()

#define page_title()
登录
#end

#define main()
<body>
    #@reg_login_top()
    <div class="register_box">
        <div class="register_line">
            <div class="flex-center">
                <div class="flex-item">
                    <input class="txt" type="text" placeholder="请输入手机号" id="puPhone" name="puPhone"/>
                </div>
            </div>
        </div>
        <div class="register_line">
            <div class="flex-box">
                <div class="flex-item">
                    <input class="txt" type="text" placeholder="请输入验证码" id="code" name="code"/>
                </div>
                <div class="code_block">
                    <button class="code_btn" type="button" onclick="getCodeButton('code_btn')">获取验证码</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="identity" name="identity" value="1">
    <div class="btn_box">
        <button class="btn" type="button" onclick="doLogin()">登录</button>
    </div>

    <div class="login-titles">
        <span class="login-titles-left"></span>
        <span class="login-titles-name">或</span>
        <span class="login-titles-right"></span>
    </div>
    <a class="login-goEmt" href="#(medliveLoginUrl??)"></a>
    <div class="login-goEmt-desc">直接使用医脉通账号登录</div>
</body>
#end

<script type="text/javascript">
    //获取验证码
    function getCodeButton(value){
        var code = $('.'+value);
        if(!code.attr("disabled")){
            $.ajax({
                url: "/common/sendCode",
                type: "post",
                cache: false,
                dataType: "json",
                data: {
                    mobile: $("#puPhone").val(),
                    type: "mobile_login"
                },
                success: function (json) {
                    if (json.success) {
                        alert("验证码发送成功")
                        code.attr("disabled","disabled");
                        var time = 60;
                        var set=setInterval(function(){
                            code.html(--time+" s");
                        }, 1000);

                        setTimeout(function(){
                            code.attr("disabled",false).html("重新获取");
                            clearInterval(set);
                        }, 60000);
                    } else {
                        alert(json.msg)
                    }
                }
            })
        }
    }

    function checkTel() {
        if ($("#puPhone").val() == null || $("#puPhone").val() == "") {
            alert("请输入您的手机号")
            return false
        } else if (!(/^1[3456789]\d{9}$/.test($("#puPhone").val()))) {
            alert("您的手机号输入有误");
            return false;
        } else {
            return true;
        }
    }

    function checkCode() {
        if ($("#code").val() == null || $("#code").val() == "") {
            alert("请输入验证码")
            return false
        } else {
            return true;
        }
    }


    function doLogin() {
        if (checkTel() && checkCode()) {
            $.ajax({
                url: "/wechat/userLogin/login",
                type: "post",
                cache: false,
                dataType: "json",
                data: {
                    mobile: $("#puPhone").val(),
                    code: $("#code").val(),
                },
                success: function (json) {
                    if (json.success) {
                        // alert("登录成功");
                        window.location.href="/wechat/front/index"
                    } else {
                        alert(json.msg)
                        return false;
                    }
                }
            })
        }
        return false;
    }
</script>