#@layout_wechat()
#define page_title()
#(title)
#end

#define page_top_url()
#if(title == '规范化课程')
/wechat/newsClass/list
#else
/wechat/resources/listNewsByCategory?categoryId=#(news.neNcId??)
#end
#end

#define js()
<script src="//player.polyv.net/script/player.js"></script>
#end
#define main()
<body>
<div class="pbtm_box">
    #@page_top2()
    <input type="hidden" value="#(openId)" id="openId"/>
    <input type="hidden" value="#(news.neId)" id="newsId"/>

    <!--加分项-->
    #@scoreRule()

    <!-- 观看视频加积分，防止一直刷新-->
    <input type="hidden" value="#(hasAddWatchScore)" id="hasAddWatchScore"/>

    <div class="video_box">
        <div id="player" style="z-index:-9999;" width="100%"></div>
    </div>
    <div class="details_box">
        <div class="details_top">
            <div class="tit">
                #(news.neTitle??)
            </div>
            <div class="infor">
                <div class="flex-box">
                    <div class="flex-item">
                        #(news.nePublishDateStr.split(' ')[0]??)
                    </div>
                    <div class="read_block">
                        <span class="read">#(news.neHits??)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="details_cont">
            <p class="indent_two">
                #(news.neContent??)
            </p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //阅读加积分
        updateScoreByRule($("#news_read").val());
    })
    var player = polyvPlayer({
        wrap: '#player',
        height: "45%",
        width: "100%",
        vid: "#(news.neVideoPath??)",
        session_id:$("#openId").val()
    });
    var interval=setInterval("render()",500);
    function render() {
        if(player != undefined && player.j2s_realPlayVideoTime != undefined){
            // console.log(player.j2s_getCurrentTime());
            var currentTime = player.j2s_getCurrentTime()
            if(currentTime >= 30 && !$("#hasAddWatchScore").val()){
                //视频播放了30s之后算加5成长值
                updateScoreByRule($("#watch_video").val())
            }
        }
    }
    function resume(){
        player.j2s_resumeVideo();
    }
    function pause(){
        player.j2s_pauseVideo();
    }
</script>
</body>
#end