#@layout_wechat()
#define page_title()
MDT甄选
#end
#define main()
<body>
#@page_top2()
#if(live!=null)
<div class="tit_box">
    <div class="flex-box">
        <div class="flex-item">
            <div class="tit">
                近期直播
            </div>
        </div>
    </div>
</div>
<div class="countdown_box">
    <div class="tit overflow-two">
        #(live.neTitle??)
    </div>
    <div class="countdown_cont">
        <div class="countdown_infor" id="live" style="display: none">
            <div class="time">
                #(live.neStartDateStr??)
            </div>
            <div class="countdown" id="countdown">
                <span class="time day">0</span>天
                <span class="time hour">00</span>小时
                <span class="time minute">00</span>分
                <span class="time second">00</span>秒
            </div>
        </div>
    </div>
</div>
#end

#if(playbackList!=""&&playbackList.size()>0)
    <div class="tit_box">
        <div class="flex-box">
            <div class="flex-item">
                <div class="tit">
                    精彩回放
                </div>
            </div>
            <div class="more_block">
                <a class="more" href="/wechat/resources/playbackFolder">
                    更多>
                </a>
            </div>
        </div>
    </div>
#end
<div class="list_box latest_box">
    <div class="list_cont">
        #if(playbackList!=""&&playbackList.size()>0)
            #for(news:playbackList??)
            <a href="/wechat/resources/detail?pk=#(news.neId??)" class="list_block">
                <div class="flex-box">
                    <div class="pic">
                        #if(news.neThumbnailPath != null)
                        <img src="#(news.neThumbnailPath??)"/>
                        #else
                        <img src="res/images/pic02.png"/>
                        #end
                    </div>
                    <div class="flex-item">
                        <div class="overflow-two tit">
                            #(news.neTitle??)
                        </div>
                        <div class="read_infor">
                            <div class="flex-box">
                                <div class="flex-item">
                                        <span class="time">
                                            #(news.nePublishDateStr??)
                                        </span>
                                </div>
                                <div class="flex-item">
                                        <span class="read">
                                            #(news.neHits??)
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            #end
        #else
            <div style="text-align: center;">
                <span>暂未开放，敬请期待</span>
            </div>
        #end
    </div>
</div>
<script type="text/javascript">
    countDown('#(live.neDate??)', '#countdown', '#live');
    $("#live").click(function () {
        if ($("#live").text() === "正在直播") {
            window.location.href = "wechat/resources/live?pk=#(live.neId??)";
        }
    })
</script>
</body>
#end