#@layout_wechat()
#define page_title()
正在直播
#end
#define page_top_url()
/wechat/resources/listNewsByCategory?categoryId=#(news.neNcId??)
#end
#define js()
<script src="//player.polyv.net/script/player.js"></script>
#end
#define main()
<body>
<div class="pbtm_box">
    #@page_top2()
    <div class="video_box">
        <div id="player" style="z-index:-9999;" width="100%"></div>
    </div>
    <div class="details_box">
        <div class="details_top">
            <div class="tit">
                #(news.neTitle??)
            </div>
            <div class="infor">
                <div class="flex-box">
                    <div class="flex-item">
                        #(news.nePublishDateStr??)
                    </div>
                    <div class="read_block">
                        <span class="read">#(news.neHits??)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="details_cont">
            <p class="indent_two">
                #(news.neContent??)
            </p>
        </div>
    </div>
</div>
<script>
    var player = polyvPlayer({
        wrap: '#player',
        height: "210px",
        width: "375px",
        vid: "#(news.neVideoPath??)"
    });

</script>
</body>
#end

