#@layout_wechat()
#define page_title()
精彩回放
#end
#define page_top_url()
/wechat/resources
#end
#define main()
<body>
#@page_top2()
<div class="list_box article_box">
    <div class="list_cont">
        #for(file:playbackFolder??)
        <a href="/wechat/resources/listNewsByCategory?categoryId=#(file.fileId??)" class="list_block border_btm">
            <div class="flex-box">
                <div class="pic">
                    #if(file.filePic != null)
                    <img src="#(file.filePic??)"/>
                    #else
                    <img src="res/images/pic04.png"/>
                    #end
                </div>
                <div class="flex-item">
                    <div class="overflow-two tit">
                        #(file.fileName??)
                    </div>
                    <div class="course_num">
                        课程数：#(file.newsNum??)
                    </div>
                </div>
            </div>
        </a>
        #end
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    var gallery = mui('.swiper_box .mui-slider');
    gallery.slider({
        interval: 1000//自动轮播周期，若为0则不自动播放，默认为0；
    })
</script>
</body>
#end