#@layout_wechat()
#define page_title()
我的收藏
#end
#define page_top_url()
/wechat/userCenter/center
#end
#define main()
<body>
#@page_top2()
<div class="list_box article_box">
    <div class="list_cont">
        #if(collectList!=""&&collectList.size()>0)
        #for(news:collectList??)
        <a href="/wechat/news/getNewsById?newsId=#(news.neId)" class="list_block">
            <div class="flex-box">
                <div class="pic">
                    #if(news.neThumbnailPath != null)
                    <img src="#(news.neThumbnailPath)"/>
                    #else
                    <img src="res/images/pic02.png"/>
                    #end
                </div>
                <div class="flex-item">
                    <div class="overflow-two tit">
                        #(news.neTitle??)
                    </div>
                    <div class="read_infor">
                        <div class="flex-box">
                            <div class="flex-item">
									<span class="time">
										#(news.nePublishDateStr??)
									</span>
                            </div>
                            <div class="flex-item">
									<span class="read">
										#(news.neHits??)
									</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        #end
        #else
        暂无收藏
        #end
    </div>
</div>
</body>
#end