#@layout_wechat()
#define page_title()
成长值明细
#end
#define page_top_url()
/wechat/userCenter/center
#end

#define main()
<body>
<div class="posRel">
    #@page_top2()
    <div class="growDet-line-box" id="dataList">

    </div>
</div>



</body>
#end

<script>
    $(document).ready(function () {
        getScore(null);

    });
    function getScore(month) {
        $.ajax({
            url: "/wechat/userCenter/listScoreAjax",
            type: "post",
            cache: false,
            global: false,
            dataType: "json",
            data: {
                month: month,
            },
            success: function (json) {
                if (json.success) {
                    var scoreList = json.data;
                    var html = '';
                    if(scoreList != null && scoreList.length>0){
                        for(var i=0;i<scoreList.length;i++){
                            if(i == 0){
                                html += '<div class="flex-between growDet-item" >'+
                                            '<div class="growDet-txt">'+scoreList[i].month+'</div>'+
                                            '<div class="growSign"><img src="res/images/openSign.png" alt="" class="signImg"></div>'+
                                        '</div>';
                            }else{
                                html += '<div class="flex-between growDet-item">'+
                                            '<div class="growDet-txt">'+scoreList[i].month+'</div>'+
                                            '<div class="growSign"><img src="res/images/openSign.png" alt="" class="signImg close-sign"></div>'+
                                        '</div>';
                            }
                            //每个月的明细
                            var scoreInfoList = scoreList[i].scoreTransactionList;
                            if(scoreInfoList != null && scoreInfoList.length >0){
                                if(i == 0){
                                    html += '<div class="growDet-list">';
                                }else{
                                    html += '<div class="growDet-list" style="display: none;">';
                                }
                                for(var j=0;j<scoreInfoList.length;j++) {
                                    html += '<div class="flex-between growDet-lineItem">'+
                                                '<div class="growTit">'+scoreInfoList[j].stType+'</div>'+
                                                '<div class="grow-score">+'+scoreInfoList[j].stScore+'</div>'+
                                                '<div class="grow-itemDate">'+scoreInfoList[j].stCreateTimeStrCN+'</div>'+
                                            '</div>';
                                }
                                html += '</div>';
                            }
                        }
                        $("#dataList").append(html);
                    }else{
                        html += '<div style="text-align: center;margin-top:5%;"><span>暂无数据</span></div>';
                        $("#dataList").append(html);
                    }
                    $(".growDet-item").on('click','.growSign',function(){
                        if($(this).children().hasClass('close-sign')){
                            $(this).children().removeClass('close-sign').parents('.growDet-item').next().show();
                        }else{
                            $(this).children().addClass('close-sign');
                            $(this).parents('.growDet-item').next().hide();
                        }

                    });
                } else {
                    alert(json.msg)
                }
            }
        })
    }

</script>