#@layout_wechat()
#define page_title()
详细资料
#end
#define page_top_url()
/wechat/userCenter/center
#end

#define main()
<body>
#@page_top2()
    <div class="register_box">
        <div class="register_line">
            <div class="flex-center">
                <div class="flex-item">
                    <input class="txt" type="text" value="#(regUser.puName??)" readonly/>
                </div>
            </div>
        </div>
        <div class="register_line">
            <div class="flex-center">
                <div class="flex-item">
                    <input class="txt" type="text" value="#(regUser.puProvince??) #(regUser.puCity??) #(regUser.puRegion??)" readonly/>
                </div>
            </div>
        </div>
        <div class="register_line">
            <div class="flex-center">
                <div class="flex-item">
                    <input class="txt" type="text" value="#(regUser.puHospital??)" readonly/>
                </div>
            </div>
        </div>
        <div class="register_line">
            <div class="flex-center">
                <div class="flex-item">
                    <input class="txt" type="text" value="#(regUser.puDept??)" readonly/>
                </div>
            </div>
        </div>
        <div class="register_line">
            <div class="flex-center">
                <div class="flex-item">
                    <input class="txt" type="text"value="#(regUser.puProfessional??)" readonly/>
                </div>
            </div>
        </div>
        <div class="register_line">
            <div class="flex-center">
                <div class="flex-item">
                    <input class="txt" type="text" value="#(regUser.puPhone??)" placeholder="手机号" readonly/>
                </div>
            </div>
        </div>
    </div>
</body>
#end