<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/libs/jquery-weui-1.2.1/css/weui.min.css">
    <link rel="stylesheet" href="/libs/jquery-weui-1.2.1/css/jquery-weui.min.css">
    <style>
        /**由于自定义的css中html的font-size被jquery-weui中的覆盖，导致防止rem不正确，所以重置*/
        html {
            font-size: 62.5%
        }
    </style>
</head>
<body>
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">404</h2>
        <p class="weui-msg__desc">您访问的页面不存在</p>
    </div>
</div>
</body>
</html>