*{
    margin:0;
    padding:0;
    list-style:none;
	border: medium none;
	outline: none;
    /*去除ios手机点击时有阴影*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
}
html{
    /*解决rem页面页面加载闪烁问题*/
    font-size:50px;
}
body{
    /*为了解决rem设置的fontSize对行内元素的影响必须设置*/
    font:12px 'Microsoft YaHei','宋体',Heiti SC,HelveticaNeue,Helvetica;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height:auto;
    color:#333;
    background-color: #fff;
    margin:0 auto;
    position:relative;
    max-width:750px;
    -webkit-text-size-adjust:none;
    /*在苹果手机内容滚动的时候不会卡顿*/
    -webkit-overflow-scrolling: touch;
    overflow-scrolling:touch;
}
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight:normal;
    font-size:13px;
}
/*旋转屏幕时，字体大小调整的问题*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust:100%;
}
html,body{
    height: 100%;
}
img{
    display: block;
    border:none;
    vertical-align: bottom;
    width:100%;
}
inpu{
    outline:none;
    border:none 0;
    -webkit-appearance:none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
select,select:focus{
    outline: none;
}
input,textarea,select,button{
	padding: 0;
	margin: 0;
    background:none;
    border:none;
    outline: none;
    line-height: normal;
	-webkit-appearance:none;
	font:12px 'Microsoft YaHei','宋体',Heiti SC,HelveticaNeue,Helvetica;
}
input[type=button],input[type=radio],input[type=checkbox],select{
    -webkit-appearance: none;
}
.clear:after{
    clear:both;
    content:'';
    display:block;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
/*弹性布局*/
/*居中*/
.flex-center{
/*旧弹性盒*/
/*Internet Explorer 10*/
display: -ms-flexbox;
-ms-flex-pack: center;
-ms-flex-align: center;
/*Firefox*/
display: -moz-flex;
display: -moz-box;
-moz-box-pack: center;
-moz-box-align: center;
display: -webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center;
display: -webkit-flex;
display: flex;
justify-content: center;
-webkit-justify-content: center;
align-items: center;
-webkit-align-items: center;
}
.flex-direction-row{
-webkit-box-direction: normal;
-webkit-box-orient: horizontal;
-moz-box-direction: normal;
-moz-box-orient: horizontal;
flex-direction: row;
-webkit-flex-direction: row;
-ms-flex-direction: row;
}
.flex-direction-column{
flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-moz-box-direction: normal;
}
.flex-between{
display: -webkit-box;
display: -ms-flexbox;
display: -moz-box;
display: flex;
display: -webkit-flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
-moz-box-pack: justify;
justify-content: space-between;
-webkit-justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
-moz-box-align: center;
align-items: center;
-webkit-align-items: center;
}
.flex-around{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    display: -webkit-flex;

    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
}

/*多行省略*/
.overflow-two{
display: -webkit-box;
overflow: hidden;
text-overflow: ellipsis;
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.overflow-three{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.overflow-four{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.overflow-normal{
overflow: hidden ;
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
}

.flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    width: 100%;
}
.flex-item {
    -moz-box-flex:1.0;
    -webkit-box-flex: 1.0;
    -ms-flex: 1.0;
    box-flex:1.0;
    flex:1;
    -webkit-flex:1;
    min-width: 0;
	width: 100%;
}
/*外边框溢出*/
.overflow:before{
    content:'';
    display: table;
}
/*防止手机点击图片被放大*/
/* img{ pointer-events: none; } */
@media (min-width: 320px){html{font-size: 266.667%;} }
@media (min-width: 360px){html{font-size: 300%;} }
@media (min-width: 375px){html{font-size: 312.5%;;} }
@media (min-width: 384px){html{font-size: 320%;} }
@media (min-width: 414px){html{font-size: 345%;} }
@media (min-width: 448px){html{font-size: 373.333%;} }
@media (min-width: 480px){html{font-size: 400%;} }
@media (min-width: 512px){html{font-size: 426.667%;} }
@media (min-width: 544px){html{font-size: 453.333%;} }
@media (min-width: 576px){html{font-size: 480%;} }
@media (min-width: 608px){html{font-size: 506.667%;} }
@media (min-width: 640px){html{font-size: 533.333%;} }
@media (min-width: 750px){html{font-size: 625%;;} }


